.clockPicture {
    position: absolute;
    width: 482px;
    height: 490px;
    left: 307px;
    top: 219px;
}

.times {
    position: absolute;
    width: 485px;
    height: 131px;
    left: 304px;
    top: 770px;
}

#work {
    position: absolute;
    left: 0%;
    right: 49.69%;
    top: 0%;
    bottom: 68.7%;

    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;

    color: #000000;
}

#workTime {
    position: absolute;
    left: 0.62%;
    right: 57.94%;
    top: 56.49%;
    bottom: 0%;

    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    background: #D9D9D9;
}

#rest {
    position: absolute;
    left: 58.56%;
    right: 0%;
    top: 0%;
    bottom: 68.7%;

    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;

    color: #000000;  
}

#restTime {
    position: absolute;
    left: 58.56%;
    right: 0%;
    top: 56.49%;
    bottom: 0%;

    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    background: #D9D9D9;
}

.sidebar {
    float: right;
    width: 338px;
    height: 930px;
    left: 1102px;
    top: 94px;
    background: #4d7adb;
}